.radio {
  text-align: right;
}

.content {
  display: flex;
}
.image {
  display: block;
}
.info {
  flex: 1;
  padding-left: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 16px;
  color: #595959;
}
.text {
  font-size: 12px;
  color: #828282;
}